# example environment variables for local development

DOCKER_REGISTRY=ghcr.io/myaccount/
IMAGE_NAME=courtbooking-server
IMAGE_TAG=latest

# runtime
DB_CONNECTION_STRING=Data Source=/app/app.db
ASPNETCORE_ENVIRONMENT=Development
BACKEND_URL=https://localhost:32771
FRONTEND_URL=https://localhost:52293
# GOOGLE_CALLBACK=/api/auth/signin-google
ASPNETCORE_URLS=http://+:8080;https://+:8081
CERTIFICATE_PATH=C:/certificates